---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Ryze"
  description="A minimalist Astro starter for personal blogs."
  author="Rahul"
  url=""
>
  <h1 class="heading text-center">404</h1>
  <p class="paragraph text-center">The page you requested cannot be found!</p>
</BaseLayout>
