---

---

<h1 class="heading">Hey</h1>
<div class="paragraph">
  <div class="flex items-center space-x-4">
    <img
      src="https://avatars.githubusercontent.com/u/47093017?v=4"
      alt=""
      class="h-24 w-24 rounded-full shadow-lg"
    />
    <p>
      Kenalin namaku Tanio. Bisa di panggil Tan, Nio, Nyo, bahkan NyoNyo. Blog
      ini dibuat untuk menyimpan catatan, tutorial (biar ndak lupa) & tulisan
      tulisan random atau biasa ku sebut <i>nguarang</i>
    </p>
  </div>
</div>
