---
import IconGithub from "../assets/icons/brand-github.svg";
import IconYoutube from "../assets/icons/brand-youtube.svg";
import IconLinkedin from "../assets/icons/brand-linkedin.svg";
import IconTelegram from "../assets/icons/brand-telegram.svg";
import IconFacebook from "../assets/icons/brand-facebook.svg";
---

<div class="flex items-center justify-center space-x-6 pb-8">
  <a href="https://github.com/tanmyid" target="blank" aria-label="gitbub"
    ><IconGithub class="socials" /></a
  >
  <a href="https://youtube.com/@tanio3122" target="blank" aria-label="youtube"
    ><IconYoutube class="socials" /></a
  >
  <a href="https://www.facebook.com/19t4n" target="blank" aria-label="facebook"
    ><IconFacebook class="socials" /></a
  >
  <a
    href="https://www.linkedin.com/in/mohammad-tanio"
    target="blank"
    aria-label="linkedin"><IconLinkedin class="socials" /></a
  >
  <a href="https://t.me/lovemeifyouwant" target="blank" aria-label="telegram"
    ><IconTelegram class="socials" /></a
  >
</div>
